body {
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
  font-size: 2rem;
}

h2 {
  font-size: 3rem;
}

.keyboard {
  display: flex;
  justify-content: center;
}

.info {
  display: flex;
  justify-content: center;
}

#goalChord {
  color: red;
}

.header {
}